doctype html
html
  head
    title REST API
    link(rel="stylesheet", href="/static/css/app.css")
  body
    div.left
      ul
        li
          a(href="http://localhost:3000/docs/books/list") Get /books
        li
          a(href="http://localhost:3000/docs/books/item") GET /books/:id
        li
          a(href="http://localhost:3000/docs/products/list") GET /products
        li
          a(href="http://localhost:3000/docs/products/item") GET /products/:id
    div.center
      h1=title
      h3 Documentation from REST API
      p.middle The myownfancy API is organized around REST. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.
